.navbar {
  margin: 25px 0 125px 0;
}
.link {
  color: rgb(245, 68, 68);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: rgb(245, 68, 68);
  color: white;
}

.active {
  background-color: rgb(245, 68, 68);
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.active:hover {
  background-color: rgb(245, 68, 68);
  color: white;
}
