body {
  background-image: url("./img/football-stadium-light-rays-322xu8k86yu1n338.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
